<br><br>
<legend class="text-center header">Recupera tu cuenta</legend>
<br>

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form [formGroup]="fgValidator" id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info"></h3>
                        <div class="form-group">
                            <label for="mail" class="text">Ingrese correo electrónico con el que se registro:</label><br>
                            <input formControlName="mail" placeholder="example@dominio.com" type="text" name="mail" id="mail" class="form-control">
                            <div class="warning-validator" *ngIf="fgv.mail.errors && (fgv.mail.dirty || fgv.mail.touched)">
                                <strong *ngIf="fgv.mail.errors.required">
                                    Este campo es requerido.
                                </strong>
                                <strong *ngIf="fgv.email.errors.email">
                                    Ingrese formato correcto.
                                </strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <button (click)="PasswordResetCustomerFn()" class= "btn btn-info btn-md" type="button" name="submit">Continuar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>