<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  routerLink="/inicio"> 
    <img src="{{logo}}" width="30" height="30" loading="lazy"> Tienda Kawai</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/products/filter-list">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/follow-order">Seguir Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/contact">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/about-us">Acerca de nosotros</a>
      </li>
    </ul>
    <ul><i class="fas fa-shopping-cart mr-3" style="color:white" routerLink="/customer/shopping-cart"></i></ul>
    <ul  *ngIf="user$ | async as user; else login">
      <a class="mr-2" style="color:white "> {{ user?.email }}</a>
      <a *ngIf="user" class="btn btn-outline-info my-2 my-sm-0" (click)="onLogout()"> Cerrar sesión</a>
    </ul>      
      <ng-template #login>
        <ul>
          <a *ngIf="!user" button class="btn btn-outline-info my-2 my-sm-0" routerLink="security/login">Iniciar Sesión</a>
      </ul></ng-template>
  </div>
</nav>