<br>
<legend class="text-center header">Sigue tu pedido</legend>
<br>
<div class="container">
    <div class="list-group-item-warning">
<p class="text"> <strong style="color:red"><i class="fas fa-exclamation-triangle" style="color:red"></i> IMPORTANTE:</strong></p>

<p class="text-justify">Ante la situación de fuerza mayor que vive el país, TiendaKawai está haciendo sus mejores esfuerzos por operar normalmente, sin embargo no podemos garantizar el cumplimiento de los tiempos de entrega en todos los casos.</p>
    </div>

<br>
<div id="follow-order-row" class="row">
    <div id="follow-order-column">
        <div id="follow-order-box" class="col-md-12">
<form id="follow-order-form" class="form" action="" method="post">
    <h3 class="text-left"></h3>
    <div class="form-group text-left">
        <label for="order" class="text">Número de orden:</label><br>
        <input formControlName="order" placeholder="Ingrese número de orden" type="text" name="order" id="order" class="form-control">
    </div>
    <div class="form-group">
        <button class= "btn btn-info" type="button" name="submit">Seguir pedido</button>
    </div>
</form>
</div></div></div>
