.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.jumbotron{
    background-color:white;
}

.card-img{
left: 100px;
width: 100px;
}

.bt2{
    background-color: red;
}