<br>
<legend class="text-center header">¿Quienés somos?</legend>
<br>
<div class="container">
    <p class="text"> <strong>TIENDAKAWAI</strong> es un supermercado de origen chileno, hecho especialmente para que las personas pueden comprar sus insumos para el hogar, desde la comodidad de su escritorio.</p>
    <br>
    <H5 class="text-info" style="font-size: medium;">MISIÓN</H5>
    <p class="text-justify"> Nuestra misión es la de satisfacer las necesidades de nuestros clientes con un surtido adecuado a los mismos, un trato cercano, contribuyendo a la mejora social y económica donde somos participes.</p><br>
    <H5 class="text-info" style="font-size: medium;">VISIÓN</H5>
    <p class="text-justify"> Nuestra visión es ser la primera opción de compra para nuestros clientes siendo una empresa de alta reputación tanto para estos como para nuestros distintos colaboradores, en el entorno en que participamos, llegando a ser un referente a nivel nacional como empresa que fusiona tradicional con la innovación al servicio del cliente.</p><br>
    <H5 class="text-info" style="font-size: medium;">VALORES</H5>
    <div class="row">
        <div class="col-6">
            <p class="text-justify"> <i class="fas fa-check" style="color:rgb(47, 130, 255)" size="2x"></i><strong> Ética profesional:</strong> actuamos con integridad, profesionalidad y respeto a las personas en todo momento.</p>
            <p class="text-justify"> <i class="fas fa-check" style="color:rgb(47, 130, 255)" size="2x"></i><strong> Tolerancia:</strong> actuamos y promovemos el respeto tanto a las instituciones como a la diversidad de opiniones, culturas o etnias.</p>
            <p class="text-justify"> <i class="fas fa-check" style="color:rgb(47, 130, 255)" size="2x"></i><strong> Trabajo en equipo:</strong> fomentamos la participación de todos los integrantes de nuestra Empresa, ya sea el personal directo o indirecto, incluyendo como no, a nuestros proveedores y acreedores, para alcanzar un objetivo común compartiendo información, conocimientos y experiencias.</p>
        </div>
        <div class="col-6">
            <p class="text-justify"> <i class="fas fa-check" style="color:rgb(47, 130, 255)" size="2x"></i><strong> Servicio:</strong> todo nuestro esfuerzo está orientado a la satisfacción de nuestros clientes apostando siempre por una atención de alta calidad.</p>
            <p class="text-justify"> <i class="fas fa-check" style="color:rgb(47, 130, 255)" size="2x"></i><strong> Innovación:</strong> promovemos la mejora continua de nuestros procesos y métodos de trabajo a las nuevas necesidades del cliente y a las legislaciones vigentes.</p>
            <p class="text-justify"> <i class="fas fa-check" style="color:rgb(47, 130, 255)" size="2x"></i><strong> Liderazgo:</strong> actuamos con responsabilidad e iniciativa en el desarrollo de todas nuestras actividades, así como en la solución de problemas.</p>
        </div>
    </div>
</div>    