<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">  
    <h1 class="display-4" style="color: whitesmoke;">Bienvenidos!</h1>
    <p class="lead">TIENDA KAWAI | El Supermercado Online. ¡Haz la compra online!</p>
  </div>
</div>
<div class="card mb-3">
    <div class="row">
      <div class="col-md-3">
        <img src="https://i.ibb.co/9HMBmLs/Whats-App-Image-2020-11-30-at-03-02-45.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
            <br><br>
          <h5 class="card-title">¡Consigue esta promoción registrándote ahora!</h5>
        </div>
        <br><br>
      <div class="text-center">
            <button routerLink="/customer/register" type="button" name="submit" class="btn btn-outline-warning">¡Registrarse ahora!</button>
      </div>
      </div>
    </div>
  </div>