<br><legend class="text-center header">Contáctenos</legend>
<div id="contact">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
    <form>
        <div class="form-group">
        <label for="document" class="text">Tu Nombre:</label><br>
        <input type="text" formControlName="name" placeholder="Ingrese su nombre" name="name" id="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="document" class="text">Tu Email:</label><br>
        <input type="text" formControlName="email" name="email" placeholder="example@dominio.com" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="document" class="text">Asunto:</label><br>
    <select class="form-control" id="asunto"  formControlName="asunto">
      <option>Reclamo</option>
      <option>Sugerencia</option>
      <option>Opinión</option>
      <option>Consulta</option>
    </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1" class="text">Mensaje:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="text-rigth">
        <button type="button" name="submit" class="btn btn-info btn-md">Enviar</button>
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>